.nav-title {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    color: #f7f7f2;
		padding-left: 4px;
		margin: 2px;
}

.nav {
  overflow: hidden;
  background-color: #222735;
}

.nav-link {
  float: left;
  color: #f7f7f2;
  background-color: #222735;
  text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
  text-decoration: none;
  font-size: 12px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #899878;
}

.nav-right {
  float: right;
}